/* Los estilos de tu proyecto */
body{
  margin: 0;
  padding: 0;
}
.taxi-logo{
  background-image: url('../assets/images/taxi.jpg');
  background-size: cover;
	width: 100%;
	height: 50%;
  background-position: center 93%;
}
.row1{
margin-top: 10em;
margin-bottom: 9em;
}
.div1, .movil1{
  padding: 1em;
}
 .row2, .mapa{
   border: 1px solid white;
   margin-top: 2em;
   margin-bottom: 2em;
   padding: 2em !important;
 }
.conduce{
  background-image: url('../assets/images/conduce.jpg');
  background-size: cover;
	width: 100%;
	height: 50%;
  background-position: center 50%;
}

.row3{
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em !important;
  margin-top: 4em;
  margin-bottom: 2em;
  background-color: rgba(0,0, 0, 0.5);
}

.input-field label {
  color:white;
}

.iframe {
  position: absolute;
  width: 100% !important;
  height: auto !important;
}

.linea-footer-down{
  border-bottom: 1px solid white;
  padding-top: 1em;
}

.linea-footer-up{
  border-top: 1px solid white;  
}

a{
  color: white;
}

/* modal */
.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}
